.Rproj.user
.Rhistory
.RData
.Ruserdata
rmarkdown-2.0.pdf
drafts
codeFile_1.R
.presentation
.xml_files
docs/xml_files/incomeStatementExample/is_lab_ar_old.xml
docs/xml_files/incomeStatementExample/.ifrs_base
docs/.xbrl_notes_to_self.Rmd
docs/.xbrl_notes_to_self.nb.html
.Rprofile
R
XBRL_notes.Rproj
docs/images
index.Rmd
notes-on-xbrl-specs.Rmd
docs/notes-on-xbrl-specs.Rmd
xbrl-notes.Rproj